@charset "UTF-8";
:root{
    --white: #ffffff;
    --black: #000000;
    --bg-color: #414040;
    --btn-back-color: #745A3F;
    --btn-border-color: #A29540;
    --btn-text-color: #E9D2B9;
}
body{
    font-family: "Sawarabi Gothic", sans-serif;
    background-color: var(--bg-color);
    color: var(--white);
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    line-height: 1.5;
    letter-spacing: 2px;
    overflow-x: hidden;
}
.section{
    margin-top: 36px;
    padding: 0 16px;
}
@media screen and (min-width:760px){
    .section{
    margin-top: 36px;
    padding: 0 40px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
}
.title{
    font-family: "Caveat", cursive;
    font-size: 32px;
    margin-top: 36px;
    padding-left: 16px;
}
@media screen and (min-width:760px){
    .title{
    font-family: "Caveat", cursive;
    font-size: 32px;
    margin-top: 36px;
    padding-left: 16px;
}
}
.footer {
    padding: 40px 0;
    text-align: center;
    color: var(--white);
    font-size: 14px;
}
@media screen and (min-width:760px){
    .footer {
    padding: 120px 0 0 20px;
    text-align: center;
    color: var(--white);
    font-size: 14px;
}
}
/* about */
.about-wrap{
    margin-top: 44px;
}
@media screen and (min-width:760px){
    .about-wrap{
    margin-top: 90px;
    display: flex;
    justify-content: center;
}
}
.about-content{
    text-align: center;
}
@media screen and (min-width:760px){
    .about-content{
    text-align: center;
}
}
.jp-name{
    font-size: 24px;
}
@media screen and (min-width:760px){
    .jp-name{
    font-size: 24px;
}
}
.en-name{
    font-family: "Caveat", cursive;
    font-size: 20px;
    margin-top: 6px;
}
@media screen and (min-width:760px){
    .en-name{
    font-family: "Caveat", cursive;
    font-size: 20px;
    margin-top: 6px;
}
}
.prof-img{
    width: 160px;
    height: auto;
    margin-top: 20px;
}
@media screen and (min-width:760px){
    .prof-img{
    width: 160px;
    height: auto;
    margin-top: 20px;
}
}
.about-text{
    margin-top: 40px;
}
@media screen and (min-width:760px){
    .about-text{
    width: 360px;
    margin-top: 40px;
    padding-left: 170px;
}
}
.btn-wrapper{
    width: 100%;
    margin-top: 60px;
}
@media screen and (min-width:760px){
    .btn-wrapper{
    width: 100%;
    margin-top: 160px;
}
}
.btn-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media screen and (min-width:760px){
    .btn-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
}
.section-btn{
    width: 340px;
    height: 48px;
    margin-top: 28px;
    background-color: var(--btn-back-color);
    border: solid 1px var(--btn-border-color);
    border-radius: 5px;
}
@media screen and (min-width:760px){
    .section-btn{
    width: 340px;
    height: 48px;
    margin-top: 0px;
    margin-left: 125px;
    background-color: var(--btn-back-color);
    border: solid 1px var(--btn-border-color);
    border-radius: 5px;
}
}
.section-btn:nth-child(1){
    margin-top: 0px;
}
@media screen and (min-width:760px){
    .section-btn:nth-child(1){
    margin-top: 0px;
    margin-left: 0px;
}
}
.section-link{
    font-size: 24px;
    font-family: "Caveat", cursive;
    color: var(--btn-text-color);
    display: block;
    width: 100%;
    height: auto;
}
@media screen and (min-width:760px){
    .section-link{
    font-size: 24px;
    font-family: "Caveat", cursive;
    color: var(--btn-text-color);
    display: block;
    width: 100%;
    height: auto;
}
}
/* Web-design/Management */
.back-btn{
    width: 100px;
    height: 24px;
    margin-top: 28px;
    margin-left: 16px;
    background-color: #622c2c;
    border: solid 1px #8a8567;
    border-radius: 5px;
}
@media screen and (min-width:760px){
    .back-btn{
    width: 120px;
    height: 48px;
    margin-top: 28px;
    margin-left: 16px;
    background-color: #622c2c;
    border: solid 1px #8a8567;
    border-radius: 5px;
}
}
.back{
    display: block;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-family: "Caveat", cursive;
    color: var(--white);
}
@media screen and (min-width:760px){
    .back{
    display: block;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-family: "Caveat", cursive;
    color: var(--white);
}
}
.work_content_wrap{
    margin-top: 44px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}
@media screen and (min-width:760px){
    .work_content_wrap{
    margin-top: 160px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
}
}
@media screen and (min-width:760px){
    .new-content-first{
    width: 400px;
}
}
.new-content-second{
    margin-top: 56px;
}
@media screen and (min-width:760px){
    .new-content-second{
    width: 400px;
    margin-top: 0px;
    margin-left: 120px;
}
}
.work_more_btn{
    width: 100%;
    height: 48px;
    margin-top: 40px;
    background-color: var(--btn-back-color);
    border: solid 1px var(--btn-border-color);
    border-radius: 5px;
}
@media screen and (min-width:760px){
    .work_more_btn{
    width: 320px;
    height: 48px;
    margin-top: 80px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--btn-back-color);
    border: solid 1px var(--btn-border-color);
    border-radius: 5px;
}
}
.work_more_link{
    font-size: 26px;
    font-family: "Caveat", cursive;
    color: var(--btn-text-color);
    display: block;
    width: 100%;
    height: auto;
}
@media screen and (min-width:760px){
    .work_more_link{
    font-size: 26px;
    font-family: "Caveat", cursive;
    color: var(--btn-text-color);
    display: block;
    width: 100%;
    height: auto;
}
}
.work_text{
    margin-top: 40px;
}
@media screen and (min-width:760px){
    .work_text{
    width: 600px;
    margin-top: 40px;
}
}
@media screen and (min-width:760px){
    .skill-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 好きに調整 */
}
}
.skill-item{
    position: relative;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
@media screen and (min-width:760px){
    .skill-item{
    position: relative;
    align-items: center;
    display: flex;
    margin-top: 20px;
    width: calc(33.333% - 14px);
    gap: 12px;
    padding: 10px 0;
    border-bottom: 1px solid #333;
}
}
.skill-item::after{
    position: absolute;
    content: "";
    width: 80%;
    height: 1px;
    background-color: var(--white);
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (min-width:760px){
    .skill-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--white);
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}
}
.skill-icon{
    width: 32px;
    height: 32px;
}
@media screen and (min-width:760px){
    .skill-icon{
    width: 32px;
    height: 32px;
}
}
.skill-name{
    font-size: 16px;
    margin-left: 16px;
    width: 160px;
}
@media screen and (min-width:760px){
    .skill-name{
    font-size: 16px;
    margin-left: 16px;
    width: 160px;
}
}
.skill-stars{
    margin-left: 16px;
}
@media screen and (min-width:760px){
    .skill-stars{
    margin-left: 16px;
}
}
/* more */
.filter-toggle{
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: 10;
}
@media screen and (min-width:760px){
    .filter-toggle{
    position: absolute;
    top: 100px;
    right: 20px;
    width: 40px;
    z-index: 10;
}
}
.filter-dialog {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
@media screen and (min-width:760px){
    .filter-dialog {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
}
.dialog-content {
    background: var(--white);
    padding: 24px 16px;
    border-radius: 12px;
    width: 70%;
    text-align: center;
    border: 1px solid var(--black);
    animation: fadeIn 0.25s ease;
}
@media screen and (min-width:760px){
    .dialog-content {
    background: var(--white);
    padding: 24px 16px;
    border-radius: 12px;
    width: 70%;
    text-align: center;
    border: 1px solid var(--black);
    animation: fadeIn 0.25s ease;
}
}
.dialog-title {
    color: var(--black);
    font-size: 20px;
}
@media screen and (min-width:760px){
    .dialog-title {
    color: var(--black);
    font-size: 20px;
}
}
.filter-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (min-width:760px){
    .filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0;
}
}
.filter-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
@media screen and (min-width:760px){
    .filter-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
}
.filter-btn .checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid #666;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}
@media screen and (min-width:760px){
    .filter-btn .checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid #666;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}
}
.filter-btn.active .checkmark {
    background: #3b91f4;
    border-color: #3b91f4;
}
@media screen and (min-width:760px){
    .filter-btn.active .checkmark {
    background: #3b91f4;
    border-color: #3b91f4;
}
}
.filter-btn.active .checkmark::after {
    content: "✓";
    position: absolute;
    top: -5px;
    left: 0px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
@media screen and (min-width:760px){
    .filter-btn.active .checkmark::after {
    content: "✓";
    position: absolute;
    top: -5px;
    left: 0px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
}
.search-btn{
    width: 120px;
    margin-top: 10px;
    padding: 10px 18px;
    background: #3b91f4;
    border-radius: 6px;
    color: var(--white);
    transition: 0.2s;
}
@media screen and (min-width:760px){
    .search-btn{
    width: 220px;
    margin-top: 10px;
    padding: 10px 18px;
    background: #3b91f4;
    border-radius: 6px;
    color: var(--white);
    transition: 0.2s;
}
}
.close-dialog {
    margin-top: 10px;
    padding: 10px 18px;
    background: #222;
    border-radius: 6px;
    color: var(--white);
    transition: 0.2s;
}
@media screen and (min-width:760px){
    .close-dialog {
    margin-top: 10px;
    padding: 10px 18px;
    width: 120px;
    background: #222;
    border-radius: 6px;
    color: var(--white);
    transition: 0.2s;
}
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}
@media screen and (min-width:760px){
    .work-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
}
@media screen and (min-width:760px){
    .work-item img {
    width: 100%;
    height: 300px; /* 好きな高さに変更 */
    object-fit: cover; /* トリミングして綺麗に収める */
    border-radius: 8px;
}
}
